
.update-btn {
  display: none;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  height: 40px;
  margin: 10px 0px;
  padding: 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  align-items: center;
  border-radius: 2px;
}

.show-container {
  visibility: visible;
}

.edit-btn {
  background: transparent;
  border: none;
  color: green;
  padding: 2px 0px;
  cursor: pointer;
}

.delete-btn {
  background: transparent;
  border: none;
  color: #eb0404;
  padding: 2px 5px;
  cursor: pointer;
}

.clear-btn {
  padding: 2px;
  margin: 5px 0px;
  background: transparent;
  border: 1px solid transparent;
  color: #eb0404;
  width: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.clear-btn:hover {
  border: 1px solid #eb0404;
}

.red {
  color: #721c24;
  background: #f8d7da;
}

.green {
  color: #155724;
  background: #d4edda;
}
