*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 10vh auto;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 2px 2px grey;

}

.card-cover {
    height: 100px;
    width: 100%;
    padding: 5px 10px;
}

.card-cover h2 {
    color: #0465EB;
    padding: 0px 5px;
}

.card-cover p {
    padding: 5px;
}

.card-content {
    flex: 1;
}

.form {
    padding: 10px 5px;
    align-items: center;
}

#inputBox {
    width: 80%;
    padding: 3px;
    border: 1px solid #0465EB;
    border-radius: 2px;
}

.add-btn {
    width: 15%;
    padding: 3px;
    border-radius: 2px;
    border: 1px solid #0465EB;
    background: transparent;
    color: #0465EB;
    transition: 0.3s linear;
}

.add-btn:hover {
    background: #0465EB;
    color: white;
    cursor: pointer;
}

article {
    display: flex;
    justify-content: space-between;
    margin: 5px 20px;
    box-shadow: 1px 0px 1px 1px grey;
    align-items: center;
    border-radius: 2px;
}

.title {
    padding: 2px 5px;
}
.edit-btn {
    background: transparent;
    border: none;
    color: green;
    padding: 2px 0px;
}

.delete-btn {
    background: transparent;
    border: none;
    color: #eb0404;
    padding: 2px 5px;
}